<div class="core" #mainContent (window:scroll)="onScroll()">
  @if (showHeader) {
    <app-header (openSidebar)="sidebar.open()" [hiding]="headerHiding" />
  }

  <app-sidebar #sidebar (scrollTo)="scrollToSection($event)" />

  <main class="core__main">
    <app-home (scrollTo)="scrollToSection($event)" />
    <app-quienes-somos />
    <app-que-ofrecemos />
    <app-ubicacion />
  </main>

  <app-footer />

  <ngx-scrolltop
    backgroundColor="#0d1b1e"
    symbolColor="#ffffff"
    [size]="45"
    mode="classic"
    position="right"
  />
</div>
