<section class="quienes-somos" id="quienes-somos">
  <div class="quienes-somos__container">
    <!-- Título de sección -->
    <app-title
      [text]="idioma.t().about.title"
      [subtitle]="idioma.t().about.subtitle"
      variant="primary"
    />

    <!-- Contenido -->
    <div class="quienes-somos__content">
      <div class="quienes-somos__text">
        <p [innerHTML]="idioma.t().about.text1"></p>
        <p>{{ idioma.t().about.text2 }}</p>
        <p>{{ idioma.t().about.text3 }}</p>
      </div>

      <!-- Galería de fotos -->
      <app-photo-slider />
    </div>
    <app-reviews-slider />
  </div>
</section>
